<div class="container">
<h2>Crear comentario</h2>
<form>

    <div class="mb-3">
        <label for="correo" class="form-label">Correo</label>
        <input [(ngModel)]="correo" name="correo" type="email" class="form-control" id="correo">      
    </div>

    <div class="mb-3">
        <label for="region" class="form-label">Región</label>
        <input [(ngModel)]="region" name="region" type="text" class="form-control" id="region">      
    </div>

    <div class="mb-3">
        <label for="comentario" class="form-label">Comentario</label>
        <input [(ngModel)]="comentario" name="comentario" type="text" class="form-control" id="comentario">      
    </div> 
    
    <button type="submit" class="btn btn-primary" (click)="addComentario()">Crear</button>

</form>
</div>